*, html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    color: #000;
    background: #FFF;
}
    
body, div, ul, li, h1, h2, h3, input, p, th, td, figure, figcaption {
    margin: 0;
    padding: 0;
}
    
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}
    
th {
    font-style: normal;
    font-weight: normal;
}
    
ul, li {
    list-style: none;
}
    
h1, h2, h3 {
    font-size: 100%;
    font-weight: normal;
}
    
input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
